@model Practice.Models.GameReview

@{
    ViewBag.Title = Model.Name;
}

<h2>@Model.Name</h2>

<div class="row">
    <div class="col-md-6">
        <div class="well">
            <h5><label>Name:</label> @Model.Name</h5>
            <h5><label>Description:</label> @Model.Description</h5>
            <h5><label>Website:</label> <a href="@Model.Website" target="_blank"> @Model.Website</a></h5>
            <h5><label>Rating:</label></h5>
            @for (var i = 0; i < Model.Stars; i++)
            {<img src="/Images/star.jpg" />}

        </div>

    </div>
    <div>
        <div class="col-md-6">
            <img src="~/images/@Model.MainPicture"
                 alt="@Model.Name" class="img-responsive" />
        </div>
    </div>
</div>